In [6]:


import pandas as pa
import matplotlib.pyplot as plt

In [10]:
data= {'Chiffre d\'affaire': [220,280,250,170,150,340,310,210,180,190], 'Frais publicitaires': [2.6,2.6,2.4,1.5,0.9,3.0,2.7,2.3,1.7,1.9]}
d = pa.DataFrame(data=d)
d

   Chiffre d'affaire  Frais publicitaires \t
0                220                     2.6
1                280                     2.6
2                250                     2.4
3                170                     1.5
4                150                     0.9
5                340                     3.0
6                310                     2.7
7                210                     2.3
8                180                     1.7
9                190                     1.9

In [12]:
X = data['Chiffre d\'affaire']
Y = data['Frais publicitaires']
plt.scatter(X,Y)

KeyError: 'Frais publicitaires'